.body, html{
    max-width:1366px;
    width: 100%;
}
.background-block {
    background-image: url('../images/background.jpg');
    /* max-width: 1366px; */
    width: 100%;
    height: 324px;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.background-block::after {
    content:'';
    width: 100%;
    height: 100%;
    display: inline-block;
    background-color: #000000;
    opacity: 10%; 
}

.name{
    font-size: 14px;
    color: #FFFFFF;
    font-weight: bold;
    margin-left: 139px;
    margin-top: 30px;
    position: absolute;
}

.list{
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    margin-left: 664px;
    position: absolute;
} 
 .li-text{
    font-size: 12px;
    font-weight: 700;
    color: #FFFFFF;
    display: flex;
    margin-right: 30px;
}
.li{
    margin-right: 30px;
}
.active{
    color:#5863F8;
}
.contact{
    color: #FFFFFF;
}
.cont1{
    font-size: 42px;
    font-weight: 700;
    position: absolute;
    margin-top: 146px;
    margin-left: 139px;
}
.cont2{
    font-size: 14px;
    position: absolute;
    margin-top: 220px;
    margin-left: 139px;
}
.cont2::after{
    content: " ";
    height: 20px;
    width: 2px;
    background-color: #FFFFFF;
    display: inline-block; 
    margin-left: 16px;
    vertical-align: middle;
}
.cont3{
    font-size: 14px;
    position: absolute;
    margin-top: 220px;
    margin-left: 212px;
}

.map-block {
    margin: 50px auto 0 auto;
    max-width: 1088px;
    width: 100%;
    height: 286px;
}
.map{
    max-width: 1088px;
    width: 100%;
    height: 286px;   
}
.middle-content{
    width: 378px;
    margin: 56px auto 50px 139px;
}
.middle-contact{
    font-size: 14px;
    font-weight: bold;
    color: #5863F8;
}
.middle-text{
    font-size: 42px;
    font-weight: bolder;
    color: #000000;
}

.form-div{
    display: flex;
    margin: auto 139px 50px 139px;
    max-width: 1088px;
    width: 100%;

}
.label-div{
    display: flex;
    flex-direction: column;
}
.texarea-block{
    max-width: 720px;
    width: 100%;
    height: 288px;
    margin-right: 16px;
    resize: none;
    border-color: #E8E8E8;
    background-color: #F8F8F8;
    color: #CECECE;

}
.input-block{
    width: 352px;
    height: 60px;
    margin-bottom: 16px;
    border-color: #E8E8E8;
    background-color: #F8F8F8;
    color: #CECECE;
}
.btn-submit{
    height: 60px;
    background-color: #5863F8;
    color: #FFFFFF;
    font-size: 14px;
    align-items: middle;
    border-color: #E8E8E8;
}
.contact-info{
    max-width: 1000px;
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.email-icon{
    background-color: #5863F8;
    max-width: 60px;
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    margin-bottom: 20px; 
    color: white;
    font-size: 30px;
    margin-left: 120px;
}

.info{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 300px;
}
.text{
    color: #000000;
    font-size: 18px;
    display: inline-block;
    justify-content: center;
    font-weight: bold;
    margin-bottom: 5px;
}
.text2{
    color: #B1B1B1;
    font-size: 14px;
}
.phone-icon{
    background-color: #5863F8;
    max-width: 60px;
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    margin-bottom: 20px; 
    color: white;
    font-size: 30px;
    margin-left: 120px;

}
.location-icon{
    background-color: #5863F8;
    max-width: 60px;
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    margin-bottom: 20px; 
    color: white;
    font-size: 30px;
    margin-left: 120px;
}
.bottom-heading{
    margin-top: 90px;
    margin-left: 140px;
    width: 560px;
}
.bott1{
    font-size: 18px;
    color: #5863F8;
    font-size: bold;
}
.bott2{
    font-size: 42px;
    color: #000000;
    font-weight: bold;
    margin-bottom: 50px;
}
.bottom-section{
    display: flex;
    justify-content: space-between;
}


