/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.3.6,
* Autoprefixer: v10.3.1
* Browsers: last 4 version
*/

.body, html{
    max-width:1366px;
    width: 100%;
    font-family: 'Poppins', sans-serif;
}
.background-block {
    background-image: url('../images/background.jpg');
    /* max-width: 1366px; */
    width: 100%;
    height: 324px;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.background-block::after {
    content:'';
    width: 100%;
    height: 100%;
    display: inline-block;
    background-color: #000000;
    opacity: 10%; 
}

.name{
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    color: #FFFFFF;
    font-weight: bold;
    margin-left: 139px;
    margin-top: 30px;
    position: absolute;
}

.list{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-top: 30px;
    margin-left: 664px;
    position: absolute;
} 
 .li-text{
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
    font-weight: 700;
    color: #FFFFFF;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-right: 30px;
}
.li{
    margin-right: 30px;
}
.active{
    color:#5863F8;
}
.contact{
    color: #FFFFFF;
}
.cont1{
    font-size: 42px;
    font-weight: 700;
    position: absolute;
    margin-top: 146px;
    margin-left: 139px;
    font-family: 'Poppins', sans-serif;
}
.cont2{
    font-size: 14px;
    position: absolute;
    margin-top: 220px;
    margin-left: 139px;
    font-family: 'Poppins', sans-serif;
}
.cont2::after{
    content: " ";
    height: 20px;
    width: 2px;
    background-color: #FFFFFF;
    display: inline-block; 
    margin-left: 16px;
    vertical-align: middle;
}
.cont3{
    font-size: 14px;
    position: absolute;
    margin-top: 220px;
    margin-left: 212px;
    font-family: 'Poppins', sans-serif;
}

.map-block {
    margin: 50px auto 0 auto;
    max-width: 1088px;
    width: 100%;
    height: 286px;
}
.map{
    max-width: 1088px;
    width: 100%;
    height: 286px;   
}
.middle-content{
    width: 378px;
    margin: 56px auto 50px 139px;
    font-family: 'Poppins', sans-serif;
}
.middle-contact{
    font-size: 14px;
    font-weight: bold;
    color: #5863F8;
}
.middle-text{
    font-size: 42px;
    font-weight: bolder;
    color: #000000;
}

.form-div{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: auto 139px 50px 139px;
    max-width: 1088px;
    width: 100%;

}
.label-div{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}
.texarea-block{
    max-width: 720px;
    width: 100%;
    height: 288px;
    margin-right: 16px;
    resize: none;
    border-color: #E8E8E8;
    background-color: #F8F8F8;
    color: #CECECE;

}
.input-block{
    width: 352px;
    height: 60px;
    margin-bottom: 16px;
    border-color: #E8E8E8;
    background-color: #F8F8F8;
    color: #CECECE;
    font-family: 'Poppins', sans-serif;
}
.btn-submit{
    height: 60px;
    background-color: #5863F8;
    color: #FFFFFF;
    font-size: 14px;
    -webkit-box-align: middle;
        -ms-flex-align: middle;
            align-items: middle;
    border-color: #E8E8E8;
    font-family: 'Poppins', sans-serif;
}
.contact-info{
    max-width: 1000px;
    width: 100%;
    margin: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    text-align: center;
    font-family: 'Poppins', sans-serif;
}

.email-icon{
    background-color: #5863F8;
    max-width: 60px;
    width: 100%;
    height: 60px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border-radius: 50%;
    margin-bottom: 20px; 
    color: white;
    font-size: 30px;
    margin-left: 120px;
}

.info{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 300px;
}
.text{
    color: #000000;
    font-size: 18px;
    display: inline-block;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    font-weight: bold;
    margin-bottom: 5px;
    font-family: 'Poppins', sans-serif;
}
.text2{
    color: #B1B1B1;
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
}
.phone-icon{
    background-color: #5863F8;
    max-width: 60px;
    width: 100%;
    height: 60px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border-radius: 50%;
    margin-bottom: 20px; 
    color: white;
    font-size: 30px;
    margin-left: 120px;
    font-family: 'Poppins', sans-serif;

}
.location-icon{
    background-color: #5863F8;
    max-width: 60px;
    width: 100%;
    height: 60px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border-radius: 50%;
    margin-bottom: 20px; 
    color: white;
    font-size: 30px;
    margin-left: 120px;
    font-family: 'Poppins', sans-serif;
}
.bottom-heading{
    margin-top: 90px;
    margin-left: 140px;
    width: 560px;
    font-family: 'Poppins', sans-serif;
}
.bott1{
    font-size: 18px;
    color: #5863F8;
    font-size: bold;
    font-family: 'Poppins', sans-serif;
}
.bott2{
    font-size: 42px;
    color: #000000;
    font-weight: bold;
    margin-bottom: 50px;
    font-family: 'Poppins', sans-serif;
}
.bottom-section{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

.footerdiv{
    max-width: 1366px;
    width: 100%;
    height: 395px;
    background-color: #121212;
    padding-top: 90px;
    font-family: 'Poppins', sans-serif;
}
.hotel{
    color: #FFFFFF;
    width: 260px;
    height: 191px;
    margin-left:139px;
    display: inline-block;
    margin-right: 200px;
    font-family: 'Poppins', sans-serif;
}

.fa-facebook-f{
    background-color: #3B5998;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-family: 'Poppins', sans-serif;
}
.fa-twitter{
    background-color: #55ACEE;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-left: 10px;
    margin-right: 10px;
}
.fa-google-plus{
    background-color: #DC4E41;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.icons{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 20px;
}
.htl-heading{
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}
.htl-text{
    font-size: 14px;
    font-weight: 400;
    width: 220px;
}
.links{
    display: inline-block;
    width: 103px;
    height: 155px;
}
.footer-headings{
    font-size: 18px;
    color: #FFFFFF;
    margin-bottom: 20px;
    font-family: 'Poppins', sans-serif;
}
.privacy{
    display: inline-block;
    width: 78px;
    height: 155px;
    margin-left: 81px;
}
.cont-info{
    display: inline-block;
    width: 198px;
    height: 145px;
    margin-left: 106px;
}
.cont-text{
    color: #FFFFFF;
    font-size: 14px;
    margin-top: 20px;
}
.last-text{
    font-size: 14px;
    margin-top: 10px 
}
.copyright{
    color: white;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    font-size: 14px;
    margin-left: 139px;
    margin-right: 139px;
}
.yahoo::before{
    content: url("../images/mail.png");
    margin-right: 14px;
}
.number::before{
    content: url("../images/phone.png");
    margin-right: 17px;
}
.address::before{
    content: url("../images/map-pin.png");
    margin-right: 20px;
}
